{% extends 'layout.html' %}

{% block content %}
<div class="entry-list single">
    <article>
        <h1>{{ entry.title }}</h1>
        <time data-time="{{ entry.date }}" class="distime" datetime="{{ entry.date.strftime('%Y-%m-%d') }}">{{ entry.date.strftime('%Y-%m-%d') }}</time>
        <div class="entry">
            <h3>Time Spent: </h3>
            <p>{{ entry.time_spent }} hours</p>
        </div>
        <div class="entry">
            <h3>What I Learned: </h3>
            {% for line in entry.learned.split("\n") %}
            <p>{{ line }}</p>
            {% endfor %}
        </div>
        <div class="entry">
            <h3>Resources to Remember: </h3>
            <ul>
                {% for line in entry.resources.split("\n") %}
                <li>{{ line }}</li>
                {% endfor %}
            </ul>
        </div>
    </article>
</div>
<div class="edit">
    <p><a href="{{ url_for('edit', entry_id=entry.id) }}", class="button">Edit Entry</a></p>
    <p><a href="{{ url_for('delete', entry_id=entry.id) }}", class="button">Delete Entry</a></p>
</div>
{% endblock %}